body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

#questionScreen {
    width: 78%;
    height: 100%;
    background-image: url("../css/resources/studio.jpg"); /* Specify your background image */
    background-size: cover; /* Adjust the background image size */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#levelAside {
    width: 22%;
    height: 100%;
    background-image: url("../css/resources/sideBar.jpg"); /* Specify your background image */
    background-size: cover; /* Adjust the background image size */
}

#container {
    display: flex;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    #questionScreen {
        width: 100%;
    }
    #levelAside {
        width: 0;
    }
}
