body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#questionScreen {
    width: 78%;
    height: 100%;
    background-image: url("../css/resources/studio.jpg");
    background-size: cover;
    background-position: center;

}

#levelAside {
    width: 22%;
    height: 100%;
    background-image: url("../css/resources/sideBar.jpg");
    background-size: cover;
}

#container {
    display: flex;
    height: 100%;
}

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 15vw;
    max-height: 75px;
}

#soundButton {
    left: 30px;
    cursor: pointer;
    background-image: url("../css/resources/soundYes.png");
    background-size: cover;
    border-radius: 10px;

}
#soundButton:hover {
    background-image: url("../css/resources/soundYesHover.png");
    transition: 0.3s;
}

#popoutButton {
    right: 30px;
    cursor: pointer;
    background-image: url("../css/resources/popout.png");
    background-size: cover;
    border-radius: 10px;
}
#popoutButton:hover {
    background-image: url("../css/resources/popoutHover.png");
    transition: 0.3s;
}

.headerButtons {
    position: relative;
    top: 30px;
    width: 15vw;
    max-width: 75px;
    border-color: #47a1c0;
}

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 15vw;
    max-height: 75px;
    position: absolute;
    bottom: 0;
    width: 78%;
}

.footerButtons {
    position: relative;
    bottom: 30px;
    width: 15vw;
    max-width: 75px;
    border-color: #47a1c0;
}

#fiftyFiftyButton {
    cursor: pointer;
    background-image: url("../css/resources/5050.png");
    background-size: cover;
    border-radius: 10px;
    margin-right: 25px;
}

#fiftyFiftyButton:hover {
    background-image: url("../css/resources/5050hover.png");
    transition: 0.3s;
}

#phoneFriendButton {
    cursor: pointer;
    background-image: url("../css/resources/phone.png");
    background-size: cover;
    border-radius: 10px;
}

#phoneFriendButton:hover {
    background-image: url("../css/resources/phoneHover.png");
    transition: 0.3s;
}

#pollAudienceButton {
    cursor: pointer;
    background-image: url("../css/resources/askAudience.png");
    background-size: cover;
    border-radius: 10px;
    margin-left: 25px;
}

#pollAudienceButton:hover {
    background-image: url("../css/resources/askAudienceHover.png");
    transition: 0.3s;
}

@media screen and (max-width: 1000px) {
    #questionScreen {
        width: 100%;
    }
    #levelAside {
        width: 0;
    }
    #footer {
        width: 100%;
    }
}

@media screen and (min-width: 1000px) {
    #popoutButton {
        visibility: hidden;
    }
}

